doctype html
    html(lang="en")
        head
            title="User Index PUG"
        body
            h1 pug it is!
            ul
                each user in users
                    li
                        a(href='/'+user.username)=user.name.full