doctype html
    html(lang="en")
        head
            title="User Index JADE"
        body
            h1 jade!
            ul
                each user in users
                    li
                        a(href='/'+user.username)=user.name.full